body {
    background-image: linear-gradient(95deg, rgb(117, 157, 245), rgb(79, 176, 255));
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    width: 800px;
    margin: auto;
    border-radius: 15px;
    padding: 15px;
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
}